body {
    margin: 0;
}

.table {

    margin: 0 auto;
    width: 600px;
    max-height: 400px;
    background-color: #0d131b;

}
.knopka {
    display: inline-block;
    margin: 0;
    padding-top: 40px;
    text-align: center;
}
.main-logo {
    margin: 0;
    height: 680px;
    background-image: url(https://raw.githubusercontent.com/OzyOfficer/img/master/img/main.png);
    background-size: cover;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 55px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
}

.new-card p {
    padding: 0 55px;
    font-size: 15px;
    line-height: 22px;
    color: #86918c;
    font-family: "Arial";
}

span {
    
    font-size: 14px;
    line-height: 22px;
    color: #e8a336;
    font-family: "Arial";
}

.new-card p a {
    font-size: 14px;
    line-height: 22px;
    color: #fa5d26;
    font-family: "Arial";
}

.cloy2 {
    width: 600px;
    height: 512px;
}
.forest{
    text-align: center;
}
.forest p {
    text-align: left;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
    font-family: "Arial";
}

.forest span {
    font-size: 14px;
    line-height: 22px;
    color: #e8a336;
    font-family: "Arial";
}

.forest a {
    top: 76px;
    left: 150px;
    padding: 13px 58px;
    background-color: #9f15a9;
    text-decoration: none;
    border-radius: 3px;
    font-size: 24px;
    line-height: 22px;
    color: #fffff8;
    font-weight: bold;
    font-family: "Arial";
}

.sloy3 {
    padding-top: 50px;
}

.span {
    line-height: 42px;
    font-size: 36px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    text-transform: uppercase;
}

.span1 {
    line-height: 42px;
    font-size: 36px;
    color: #9f15a9;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    text-transform: uppercase;
}

.span2 {
    line-height: 28px;
    font-size: 24px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.present {
    padding: 0 31px;
}

.present h3 {
    margin: 0;
    text-align: center;
}

.present a {
    display: inline-block;
    top: 28px;  
    padding: 13px 38px;
    background-color: #9f15a9;
    text-decoration: none;
    border-radius: 3px;
    font-size: 24px;
    line-height: 22px;
    color: #fffff8;
    font-weight: bold;
    font-family: "Arial";
}

.present h3 p {
    font-size: 11px;
    line-height: 22px;
    color: #85908c;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

h5 {
    margin: 0;
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.video {
    text-align: center;
}

.video p {
    text-align: left;

    padding: 0 55px;
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
    font-family: "Arial";
}

.predsakaz {
    display: inline-block;
    margin: 25px 0 55px 0;
    padding: 13px 38px;
    background-color: #9f15a9;
    text-decoration: none;
    border-radius: 3px;
    font-size: 24px;
    line-height: 22px;
    color: #fffff8;
    font-weight: bold;
    font-family: "Arial";
}

.twitch {
    font-size: 14px;
    line-height: 22px;
    color: #fa5d26;
    font-family: "Arial";
}

h6 {

    margin: 0;
    top: 100px;
    font-size: 36px;
    color: #263870;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    z-index: 1;
}
.finish{
    margin: 0;
    padding: 54px 0 0 0;
    background-image: url(https://raw.githubusercontent.com/OleksandrIsaev/sendmail/master/img/sloy5.png);
}
.finish h5{
    margin: 0;
    font-size: 36px;
    color: #263870;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.finish p{
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    font-family: "Arial";
    text-align: center;
}
.finish a{
    text-decoration: underline;
    color: #b25000;
}
.finish i{
    font-style: normal;
    font-weight: bold;
    color: #b25000;
}
.finish1 a{
    text-align: center;
    height: 50px;
    display: inline-block;
}
.finish1 a{
    display: inline-block;
    background-color: #fff;
}